<link rel="stylesheet" type="text/css" href="/editor.css" />
script.
  var exports = {};

script(src="/functions.js")

script.
  function submitAddForm(formId) {
    const form = document.getElementById(formId);
    setB64FormFieldFromImage(form, 'newBreweryLogo', 'newBreweryLogoB64');
    if (!isFormTextValueValid(form, 'newBreweryName')) {
      return;
    }
    if (!isFormTextValueValid(form, 'newBreweryLocation')) {
      return;
    }
    if (!isFormTextValueValid(form, 'newBreweryLogoB64')) {
      return; 
    }

    const jsonString = stringifyForm(form);

    fetch(`/breweries`, {
      method:'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonString
    }).then(data => {
      window.location.reload();
    })
    .catch(error => {
      alert(`Problem making request: ${error}`);
    });
  }

  function submitEditForm(formId, breweryId) {
    const form = document.getElementById(formId);
    setB64FormFieldFromImage(form, 'newBreweryLogo', 'newBreweryLogoB64');

    const jsonString = stringifyForm(form);

    fetch(`/breweries/${breweryId}`, {
      method:'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonString
    }).then(data => {
      window.location.reload();
    })
    .catch(error => {
      alert(`Problem making request: ${error}`);
    });
  }

html
  body
    table
      button(onclick="toggleShowElement('createBreweryDiv')") Add New
      div(style="display: none", id="createBreweryDiv")
        form(action="/breweries?callbackUrl=/breweries/manage" method="POST" id="addBreweryForm")
          label(for="newBreweryName") Name:
          input(name="newBreweryName" id="newBreweryName")
          label(for="newBreweryLocation") Location:
          input(name="newBreweryLocation" id="newBreweryLocation")
          label(for="newBreweryLogo") Logo:
          input(name="newBreweryLogo" id="newBreweryLogo" type="file" accept="image/png, image/jpeg" onchange="setB64FormFieldFromImage(document.getElementById('addBreweryForm'), 'newBreweryLogo', 'newBreweryLogoB64')")
          input(name="newBreweryLogoB64" id="newBreweryLogoB64" type="hidden")
        button(onclick="submitAddForm('addBreweryForm')" type="button") Create Brewery
      tbody
        tr
          th Logo 
          th Name 
          th Location 
          th 
        each brewery in breweries
          - var name = brewery.name
          - var location = brewery.location
          - var breweryId = brewery.id
          tr 
            td 
              img(class='logo' src='data:image;base64, ' + brewery.defaultLogo)
            td #{name}
            td #{location}
            td
              button(onclick=`toggleShowElement('editBreweryElement${breweryId}')`) Edit
          tr(style="display: none", id=`editBreweryElement${breweryId}`)
            form(action=`/breweries/${breweryId}?callbackUrl=/breweries/manage` id=`updateBreweryForm${breweryId}`)
              td
                label(for="newBreweryLogo") Logo:
                input(name="newBreweryLogo" id="newBreweryLogo" type="file" accept="image/png, image/jpeg" onchange=`setB64FormFieldFromImage(document.getElementById('updateBreweryForm${breweryId}'), 'newBreweryLogo', 'newBreweryLogoB64')`)
              td
                label(for="newBreweryName") Name:
                input(name="newBreweryName" id="newBreweryName")
              td
                label(for="newBreweryLocation") Location:
                input(name="newBreweryLocation" id="newBreweryLocation")
              input(name="newBreweryLogoB64" id="newBreweryLogoB64" type="hidden")
              td
                button(onclick=`submitEditForm('updateBreweryForm${breweryId}', '${breweryId}')` type="button") Update Brewery
