<link rel="stylesheet" type="text/css" href="/editor.css" />
script.
  var exports = {};

script(src="/functions.js")

script.
  function submitEditForm() {
    const form = document.getElementById('editItemForm');
    setB64FormFieldFromImage(form, 'itemLogo', 'itemLogoB64');

    const jsonString = stringifyForm(form);

    fetch(`/menu-items/${form['menuItemId'].value}`, {
      method:'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonString
    }).then(data => {
      window.location.reload();
    })
    .catch(error => {
      alert(`Problem making request: ${error}`);
    });
  }

  function submitAddForm(formId) {
    const form = document.getElementById(formId);
    if (!isFormTextValueValid(form, 'price')) {
      return;
    }

    const jsonString = stringifyForm(form);

    fetch(`/sale-containers`, {
      method:'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonString
    }).then(data => {
      window.location.reload();
    })
    .catch(error => {
      alert(`Problem making request: ${error}`);
    });
  }

  function removeContainer(containerId) {
    fetch(`/sale-containers/${containerId}`, {
      method:'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
    }).then(data => {
      window.location.reload();
    })
    .catch(error => {
      alert(`Problem making request: ${error}`);
    }); 
  }

html
  body
    h1 Editing #{parentMenu.displayName} -> #{subMenu.displayName} -> #{itemDetails.displayName}
    table
      tbody
        tr
          th Logo
          th Internal Name
          th Display Name
          th Display Order
          th
        tr 
          td 
            img(class='logo' src='data:image;base64, ' + menuItem.itemLogo)
          td #{itemDetails.internalName}
          td #{itemDetails.displayName}
          td #{menuItem.order}
          td 
            button(onclick=`toggleShowElement('editItemElement')`) Edit
        tr(style="display: none", id=`editItemElement`)
          form(id=`editItemForm`)
            td
              label(for="itemLogo") Logo:
              input(name="itemLogo" id="itemLogo" type="file" accept="image/png, image/jpeg" onchange=`setB64FormFieldFromImage(document.getElementById('editItemForm'), 'itemLogo', 'itemLogoB64')`)
            td 
            td
            td
              label(for="order") Order:
              input(name="order" id="order")
            input(name="itemLogoB64" id="itemLogoB64" type="hidden")
            input(name="menuId" id="menuId" type="hidden" value=parentMenu.id)
            input(name="subMenuId" id="subMenuId" type="hidden" value=subMenu.id)
            input(name="itemId" id="itemId" type="hidden" value=itemDetails.id)
            input(name="menuItemId", id="menuItemId", type="hidden", value=menuItem.id)
            td
              button(onclick=`submitEditForm()` type="button") Update Menu Item
    h2 Containers
    table
      tbody 
        tr 
          button(onclick="toggleShowElement('createSaleContainerDiv')") Add Sale Container
          div(style="display: none", id="createSaleContainerDiv")
            form(id="addSaleContainerForm")
              select(id="containerId" name="containerId")
                each item, id in containerDetailMap 
                  option(value=id) #{item.containerName} #{item.displayName}
              label(for="price") Price:
              input(name="price")
              input(name="itemId" type="hidden" value=menuItem.id)
            button(onclick="submitAddForm('addSaleContainerForm')" type="button") Submit Container
        tr 
          th Container Name 
          th Price
          th
        each container in containersList
          - var containerDetails = containerDetailMap[container.containerId]
          tr 
            td #{containerDetails.containerName} #{containerDetails.displayName}
            td #{container.price}
            td
              button(onclick=`removeContainer('${container.id}')`) Remove Container
