<link rel="stylesheet" type="text/css" href="/print.css" />

html
  body
    div
      h2(class='header') #{menuTitle}
    each subMenu in allDisplaySubMenus
      div
        h3(class='header subMenuHeader') #{subMenu.menu.displayName}
        - var items = subMenuToItemMap.get(subMenu.menu.id)
        - var containers = subMenu.containerOptions
        div(class='menuContainer')
          table(class='menuContainer')
            tbody
              tr 
                td
                td
                  table(class='priceTable')
                    tr 
                      each containerName in containers
                        th #{containerName}
              each item in items
                tr 
                  td #{item.breweryName} * #{item.displayName} * #{item.style} * #{item.abv}% ABV
                  td
                    table
                      tr
                        each containerName in containers
                          td #{item.containerDisplayNameToPrice.get(containerName)}
                tr
                  td #{item.description}
    