<link rel="stylesheet" type="text/css" href="/print.css" />

html
  body
    div(class='header')
      h2 #{menuTitle}
    div 
      table(class='itemTable')
        tr
        - for (var x = 0; x < menuItems.length; x++)
          tr
            td #{menuItems[x].breweryName} * #{menuItems[x].displayName} * #{menuItems[x].style} * #{menuItems[x].abv}%
          tr
            td #{menuItems[x].description}
      table(class='priceTable')
        tr
          th 32oz Crowler To-Go
          th Full Pour
          th Half Pour
          th Taster

      table(class='priceTable')
    