<link rel="stylesheet" type="text/css" href="/print.css" />

html
  body
    div(class='header')
      h2 #{menuTitle}
    each subMenu in allDisplaySubMenus
      div
        h3(class='header') #{subMenu.menu.displayName}
        - var items = subMenuToItemMap.get(subMenu.menu.id)
        - var containers = subMenu.containerOptions
        table(class='itemTable')
          tr 
            td
            td
              table
                tr 
                  each containerName in containers
                    td #{containerName}
          each item in items
            tr 
              td #{item.breweryName} * #{item.displayName} * #{item.style} * #{item.abv}% ABV
              td
                table
                  tr
                    each containerName in containers
                      td #{item.containerDisplayNameToPrice.get(containerName)}
            tr
              td #{item.description}
        table(class='priceTable')
    